<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор курсов</title>
    <script src="{{ url_for('static', 'main.js')}}"></script>
</head>
<body>
<form>
    <label>
        Курс
        <select id="course-selector"></select>
    </label>
    <label>
        <select id="lesson-selector"></select>
    </label>
    <label>
        Название урока
        <input id="lesson-name">
    </label>
    <label>
        Ссылка на плеер
        <input id="video-link">
    </label>
    <button id="send-btn">
        Сохранить
    </button>
</form>
</body>
</html>